# Super Admin Credentials
VITE_SUPERADMIN_EMAIL=
VITE_SUPERADMIN_PASSWORD=

# CMO 3 Credentials (Top Operational Role - All Zones)
VITE_CMO3_EMAIL=
VITE_CMO3_PASSWORD=

# CMO 2 Credentials (Delhi District Zones)
VITE_CMO2_NORTH_EMAIL=
VITE_CMO2_NORTH_PASSWORD=
VITE_CMO2_SOUTH_EMAIL=
VITE_CMO2_SOUTH_PASSWORD=
VITE_CMO2_EAST_EMAIL=
VITE_CMO2_EAST_PASSWORD=
VITE_CMO2_WEST_EMAIL=
VITE_CMO2_WEST_PASSWORD=

# CMO 1 Credentials (Facility / Arogya Mandir Level)
VITE_CMO1_ROHINI_EMAIL=
VITE_CMO1_ROHINI_PASSWORD=
VITE_CMO1_PITAMPURA_EMAIL=
VITE_CMO1_PITAMPURA_PASSWORD=
VITE_CMO1_JANAKPURI_EMAIL=
VITE_CMO1_JANAKPURI_PASSWORD=
VITE_CMO1_CP_EMAIL=
VITE_CMO1_CP_PASSWORD=
